.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f2f2f;
}
.login-panel {
    border: 1px solid #ddd;
    padding: 2em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.admin-users {
    margin: 10px;
}



